@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    transparent,
    rgb(61, 3, 56),
    rgb(85, 8, 95)
  );
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    transparent,
    rgb(61, 3, 56),
    rgb(85, 8, 95)
  );
  border-radius: 1px;
}
